---
import Navigation from "./Navigation.astro";
import Humberger from "./Hamburger.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
  <nav>
    <Humberger />
    <ThemeToggle />
    <Navigation />
  </nav>
</header>